@page "/userOverview"
@inject IDbContextFactory<BlazorApp1.Data.TicketContext> DbFactory
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Administrator")]






<style>
    th {
        white-space: nowrap;
    }
</style>

<h1>User Overview</h1>


@if (userAccounts is null)
{
    <p><em>Loading...</em></p>
}
else
{
    @* USER OVERVIEW TABLE *@
    <table class="table table-striped table-bordered table-hover mt-4">
        @* TABLE FIELD HEADERS *@
        <thead class="table-dark">
            <th width="350">Guid</th>
            <th>Id</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Role</th>
            <th></th>
        </thead>

        @* DISPLAY ALL USERS IN TABLE *@
        <tbody>
            @foreach (var user in userAccounts)
            {
                @* FIELDS *@
                <tr>
                    @* USER PROPERTIES *@
                    <td style="background-color: #9999bb">@user.guid</td>
                    <td style="background-color: #bbbbdd">@user.Id</td>
                    <td style="background-color: #9999bb">@user.UserName</td>
                    <td style="background-color: #bbbbdd">@user.Email</td>
                    <td style="background-color: #9999bb">@user.Role</td>

                    @* USER MODIFICATION *@
                    <td style="background-color: #bbbbdd">
                        <div class="d-flex">

                            @* EDIT BUTTON *@
                            <a class="btn btn-secondary me-2" role="button" href="@UserUrl(user.Id)">
                                <i class="bi bi-pencil"></i>
                            </a>

                            @* DELETE BUTTON *@
                            <button class="btn btn-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="@GetDeleteModalId(user)">
                                <i class="bi bi-trash3"></i>
                            </button>

                        </div>
                        <DeleteUser User="@ConvertToSummary(user)" />
                    </td>
                </tr>
            }

        </tbody>
    </table>
}

@code {
    private List<UserAccount>? userAccounts;

    // GET USERACCOUNTS & CONTEXT INFO
    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        userAccounts = await context.UserAccounts.ToListAsync();
    }

    private static string UserUrl(int id) => $"/userAccount/{id}";
    private string GetDeleteModalId(UserAccount userAccount) => $"#{DeleteUser.GetModalId(ConvertToSummary(userAccount))}";

    // USERACCOUNT TO USERSUMMARY
    private UserSummary ConvertToSummary(UserAccount userAccount)
    {
        return new UserSummary
        {
            guid = userAccount.guid,
            Id = userAccount.Id,
            UserName = userAccount.UserName,
            Role = userAccount.Role,
        };
    }

}
