@page "/documentOverview"
@inject DocumentClient Client



<style>
    th {
        white-space: nowrap;
    }
</style>

<h1>Overview</h1>

@if (documents is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-bordered table-hover mt-4">
        <thead class="table-dark">
        <th>Id</th>
        <td>Brand</td>
        <td>Campus</td>
        <td>UserName</td>
        <td>UserEmail</td>
        <td>UserContactNumber</td>
        <td>PrimaryContact</td>
        <td>TroubleshooterName</td>
        <td>TroubleshooterEmail</td>
        <td>TroubleshooterContactNumber</td>
        <td>SiteAddress</td>
        <td>EquipmentMake</td>
        <td>EquipmentModel</td>
        <td>EquipmentProductNumber</td>
        <td>EquipmentSerialNumber</td>
        <td>FaultDescription</td>




        <th></th>
        </thead>
        <tbody>
            @foreach (var document in documents)
            {
                <tr>
                    <td>@document.Id</td>
                    <td>@document.Brand</td>
                    <td>@document.Campus</td>
                    <td>@document.UserName</td>
                    <td>@document.UserEmail</td>
                    <td>@document.UserContactNumber</td>
                    <td>@document.PrimaryContact</td>
                    <td>@document.TroubleshooterName</td>
                    <td>@document.TroubleshooterEmail</td>
                    <td>@document.TroubleshooterContactNumber</td>
                    <td>@document.SiteAddress</td>
                    <td>@document.EquipmentMake</td>
                    <td>@document.EquipmentModel</td>
                    <td>@document.EquipmentProductNumber</td>
                    <td>@document.EquipmentSerialNumber</td>
                    <td>@document.FaultDescription</td>

                    @*
                    <td>@document.Name</td>
                    <td>@document.LastUpdated</td>
                    <td>@document.Complete</td>
					<td>@document.Type</td>
                    <td>@document.DateCreated</td>
					<td>@document.Customer</td>
					<td>@document.Site</td>
                    <td>@document.User</td>
                    <td>@document.Summary</td>
                    <td>@document.Status</td>
                    <td>@document.SLATimeLeft</td>
                    <td>@document.Priority</td>
                    <td>@document.TimeTaken</td>
                    <td>@document.Agent</td>
                    <td>@document.TicketAge</td>
					<td>@document.WorkingHours</td>
                    <td>@document.Team</td>
                    <td>@document.LastActionDate</td>
                    <td>@document.Category</td>
                    <td>@document.DateClosed</td>
                    *@
                    <!-- EDIT + DELETE -->
                    <td>
                        <div class="d-flex">
                            <a class="btn btn-secondary me-2" role="button" href="@DocumentUrl(document.Id)">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <button class="btn btn-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="@GetDeleteModalId(document)">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </div>
                        <DeleteDocument Document="@document" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

    private DocumentSummary[]? documents;

    protected override void OnInitialized()
    {
        documents = Client.GetDocs();
    }

    private static string DocumentUrl(int id) => $"/document/{id}";


    private string GetDeleteModalId(DocumentSummary document) => $"#{DeleteDocument.GetModalId(document)}";

}